# If the Development environment is used:

# 1. Only the user specified by `admin_chat_id` in config.yaml will receive reports and
#    be able to send commands to the bot.

# 2. All log messages will only be displayed in the console, and their level will be set
#    to logging.DEBUG.
EOL_BOT_ENVIRONMENT=Development
